In [ ]:
!pip install python

ERROR: Could not find a version that satisfies the requirement python (from versions: none)
ERROR: No matching distribution found for python

In [ ]:
!python --version

Python 3.10.12

In [ ]:
int('e1ee7', 16) #convert hexadecimal to int
#The valid bases are 0 and 2 - 36.
#The default is base 10 (ten).

925415

In [ ]:
int(3.2+6.7J) # should error

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
type(3141.5e-3)#Floating point numbers in Python can also be written in scientific notation using E or e.

float

In [ ]:
3141.5e-3

3.1415

In [ ]:
 #issue that arises with float  is the fact that decimal numbers can’t always be represented exactly in binary. This is a limitation of binary and as a result, some decimal numbers will not be represented correctly resulting in errors.
 1.1 +2.2 # vanilla flaot type will be obtained in the result not just 3.3 as expected.

3.3000000000000003

In [ ]:
complex(3, 5)

(3+5j)

In [ ]:
compl = (3 + 5j)
compl.real

3.0

In [ ]:
"abcd"[3]

'd'

In [ ]:
"abcd" * -1#To use repetition, you have the sequence and a positive integer as part of the operation. A negative integer will result in an empty sequence.

''

In [ ]:
# because our step is negative we start at the end
# and go backwards toward the start.  This is a
# reverse of the string.

"abcdefghijklmnop"[::-1]

'ponmlkjihgfedcba'

In [ ]:
'\''

"'"

In [ ]:
"\""

'"'

In [ ]:
ord(chr(65))

65

In [ ]:
{"a": 1, "b": 2, "list": [1, 2, 3]}["list"]#dict

[1, 2, 3]

In [ ]:
{"a": 1, "b": 2}.items()

dict_items([('a', 1), ('b', 2)])

In [ ]:
{"a": 1, "b": 2}.keys()

dict_keys(['a', 'b'])

In [ ]:
{"a": 1, "b": 2}.values()

dict_values([1, 2])

In [ ]:
{"a": 1, "b": 2}.get("c", -10)

-10

In [ ]:
({1, 2, 3} | {2, 3, 4}).union({5, 6})#using pipebar and function

{1, 2, 3, 4, 5, 6}

In [ ]:
{1, 2, 3} ^ {2, 3, 4}#symmetric diff

{1, 4}

In [ ]:
#The methods do NOT work for frozensets but you can still use the appending of the equals sign. This is because the methods will work on the set in memory while the operators create a new set and return that as a result.
s1 = {1, 2, 3}
print("Before update", s1)

s1.update({4, 5, 6})
print("After first update", s1)

s1 |= {5, 6, 7, 8}
print("After second update", s1)

Before update {1, 2, 3}
After first update {1, 2, 3, 4, 5, 6}
After second update {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s = {1, 2, 3}
s.remove(2)
s

{1, 3}

In [ ]:
s = {1, 2, 3}
s.discard(4)#discard(): Removes an element if it exists. If it does not then nothing happens.
s

{1, 2, 3}

In [ ]:
s = {1, 2, 3}
s.clear()
s

set()

In [ ]:
frozenset("frozenset")# You can do all the operators given to us for sets but we cannot change the set in memory. If we wanted to modify the frozenset we would have to create a new frozenset.

frozenset({'e', 'f', 'n', 'o', 'r', 's', 't', 'z'})

In [ ]:
print("I am " + 30 + " years old.")#In Python, strings don’t know how to concatenate int objects and Python doesn’t want to assume so it throws an error.

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("I am " + str(30) + " years old.")

I am 30 years old.

In [ ]:
print(f"I am {30} years old.")

I am 30 years old.

In [ ]:
print("Hello Pythonistas!", "Isn't this easy?", sep="\n")

Hello Pythonistas!
Isn't this easy?

In [ ]:
print("Hello Pythonistas!", end="")
print("Isn't this easy?")

Hello Pythonistas!Isn't this easy?

In [ ]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [ ]:
2*3

6

In [ ]:
_+10#a single underscore in the interpreter is used to store the last operation.

16

In [ ]:
union=10
union

10

In [ ]:
if=4
if# keyword can't be used as variable name

SyntaxError: invalid syntax (<ipython-input-26-9bed26ea362d>, line 1)

In [ ]:
2**100

1267650600228229401496703205376

In [ ]:
1e100

1e+100

In [ ]:
int(1e100)

10000000000000000159028911097599180468360808563945281389781327557747838772170381060813469985856815104

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is %(first)s %(last)s which was created from %(last)s and %(first)s" % {"first": first_name, "last": last_name}

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

f"Your name is {first_name} {last_name} which was created from {last_name} and {first_name}"

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is {first} {last} which was created from {last} and {first}".format(first=first_name, last=last_name)

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is {0} {1} which was created from {1} and {0}".format(first_name, last_name)

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is {} {} which was created from {} and {}".format(first_name, last_name, last_name, first_name)

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is %(first)s %(last)s which was created from %(last)s and %(first)s" % {"first": first_name, "last": last_name}

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
first_name = "Brian"
last_name = "Rogers"

"Your name is " + first_name + " " + last_name + " which was created from " + last_name + " and " + first_name

'Your name is Brian Rogers which was created from Rogers and Brian'

In [ ]:
!python -c "print(10 ** 2)"

100

In [ ]:
count = 10
temp_count = count
temp_count = temp_count + 3
print(count)

10

In [ ]:
a = (1, 2, 3, 4)
b = a
b[2] = 5
b[1] = 7

TypeError: 'tuple' object does not support item assignment

In [ ]:
_h__3_4_R_7_

NameError: name '_h__3_4_R_7_' is not defined

In [ ]:
a = {"a", "b", "B", "c", "D"}
b = {"A", "c", "b"}
a | b

{'A', 'B', 'D', 'a', 'b', 'c'}

In [ ]:
a = 3.2
b = 2
type(a // b)

float

In [ ]:
a = [1, 2, 3]
a + 4

TypeError: can only concatenate list (not "int") to list

In [ ]:
a = {"a", "b", "B", "c", "D"}
b = {"A", "c", "b"}
a & b

{'b', 'c'}

In [ ]:
a = 7
b = 2
a ** b

49

In [ ]:
a = 10
b = 4
a % b

2

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = 3
b = 2
a / b

1.5

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]
a[-3]

5

In [ ]:
a = 12
b = 4
a % b

0

In [ ]:
a = 17
b = 4
a // b

4

# Sequence operations using lists:

In [ ]:

[1,2,3,4][4:0:-2]

[4, 2]

In [ ]:
[1,2,3,4][3]

4

In [ ]:
[1,2,3,4][-1]
[1,2,3,4] + [1,2,3,4]
[1,2,3,4] * 3

# Sequence operations using tuples:

In [ ]:
(1,2,3,4)[-1]

4

In [ ]:
(1,2,3,4) + (1,2,3,4)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
(1,2,3,4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
(1,2,3,4)[3]

4

In [ ]:
(1,2,3,4)[4:0:-2]

(4, 2)

Create a dictionary with a dictionary in it. Put values in the inner dictionary. Now try to access those values using the outer dictionary.

In [ ]:
a={1:{2:3}}
a[1][2]

3

In [ ]:
a[1].items()

dict_items([(2, 3)])

Operations on frozen set

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a|b

frozenset({'e', 'f', 'n', 'o', 'r', 's', 't', 'z'})

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a-b

frozenset({'f', 'n', 'o', 'r', 'z'})

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a^b

frozenset({'f', 'n', 'o', 'r', 'z'})

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a&b

frozenset({'e', 's', 't'})

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a|b

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a.discard("set")
a

AttributeError: 'frozenset' object has no attribute 'discard'

In [ ]:
a=frozenset("frozenset")
b=frozenset("set")
a.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

# Operations on frozenset and set when combined:

In [ ]:
a=frozenset("frozenset")
b=set("set")
type(a|b)

frozenset

In [ ]:
a=frozenset("frozenset")
b=set("set")
type(   b|a)

set

Demonstrate to yourself the append mode of the open function by appending it to the test.out file. Notice the difference between this mode and write mode.

In [ ]:
outfile_handle = open("test.out", "w")
outfile_handle.write("Sample")
outfile_handle.write("Output")
outfile_handle.write("\nPython File")
outfile_handle.close()

infile_handle = open("test.out", "r")
print(infile_handle.read(3)) # Read the first 3 characters
print(infile_handle.readlines()) # Read the rest of the file.

Sam
['pleOutput\n', 'Python File']

In [ ]:
outfile_handle = open("test.out", "a")
outfile_handle.write("Samples")
outfile_handle.write("Outputs")
outfile_handle.write("\nPython Files")
outfile_handle.close()

In [ ]:
infile_handle = open("test.out", "r")

print(infile_handle.readlines()) # Read the rest of the file.

['SampleOutput\n', 'Python FileSamplesOutputs\n', 'Python Files']

Another append operation:

In [ ]:
outfile_handle = open("test.out", "a+")
outfile_handle.write("Sampler")
outfile_handle.write("Outputs")
outfile_handle.write("\nPython Files")
outfile_handler.close()
infile_handle = open("test.out", "r")

print(infile_handle.readlines()) # Read the rest of the fil

['SampleOutput\n', 'Python FileSamplesOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python Files']

In [ ]:
a=open("test.out", "a+")
a.write("Sample")
a.write("Output")
a.writelines(["\nPython File","12","2"])
a.close ()

b=open("test.out","r")
print(b.readlines())

['SampleOutput\n', 'Python FileSamplesOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSampleOutput\n', 'Python File122SampleOutput\n', 'Python FileSampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutputSampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122']

# With block

In [ ]:
with open("test.out", "a+") as a:
  a.write("Sample")
  a.write("Output")
  a.writelines(["\nPython File","12","2"])
  a.close ()

with open("test.out","r") as b:
  print(b.readlines())

['SampleOutput\n', 'Python FileSamplesOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSamplerOutputs\n', 'Python FilesSampleOutput\n', 'Python File122SampleOutput\n', 'Python FileSampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutputSampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutput\n', 'Python File122SampleOutputSampleOutput\n', 'Python File122']

isinstance won’t be introduced until we start talking about conditionals but it won’t hurt to get a step ahead. Look at the Python docs and see if you can get True to print for these expressions using isinstance().

In [ ]:
isinstance(12,int)

True

In [ ]:
isinstance("abc", str)

True

In [ ]:
isinstance([1, 2, 3, 4], list)

True

In [ ]:
print(isinstance(10e3 // 5, int),
isinstance(10e3 / 5, float),

isinstance(range(10, 100, 5), tuple))

False True False

In [ ]:
isinstance({"a": 0, "b": 2}, dict)

True

# Built-in function ord ()
  Give an example of it working and not working

In [ ]:
ord('a')

97

In [ ]:
ord(9)

TypeError: ord() expected string of length 1, but int found

ord accepts argument as string and gives the unicode point of it.

In [ ]:
ord('9')

57

In [ ]:
 ord('€')

8364

Range

In [ ]:

list(range(0))

[]

In [ ]:
list(range(1, 0))

[]

In [ ]:
22 in range(0, 20, 2)

False

In [ ]:
range(0) == range(2, 1, 3) or range(0, 3, 2) == range(0, 4, 2)

True

In [ ]:
range(0) == range(2, 1, 3)

True

In [ ]:
range(0, 3, 2) != range(0, 4, 2)

False

In [ ]:
list(range(0, 4, 2))

[0, 2]

Ranges implement all of the common sequence operations except concatenation and repetition (due to the fact that range objects can only represent sequences that follow a strict pattern and repetition and concatenation will usually violate that pattern).

In [ ]:
range(0, 3, 2) + range(0, 4, 2)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
[range(0, 3, 2)] + [range(0, 4, 2)]

[range(0, 3, 2), range(0, 4, 2)]

In [ ]:
list(range(0, 3, 2)) * 3

[0, 2, 0, 2, 0, 2]

In [ ]:
range(0, 3, 2) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [ ]:
range(0, 3, 2)+ range(0, 4, 2)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

isinstance()

In [ ]:
isinstance(range(10, 100, 5), class)

SyntaxError: invalid syntax (<ipython-input-65-eafdb6a0ce7c>, line 1)

In [ ]:
isinstance(range(10, 100, 5), type)

False

There are two ways to run Python code in the command prompt without starting the Python prompt or running a script file. Can you find another way to run Python code? Give an example.

Using a here document ad using -c

In [ ]:
!python -c "print('Hello, World!')"

Hello, World!

'here' document

In [ ]:
!python <<END
print('Hello, World!')
END

/bin/bash: line 1: warning: here-document at line 1 delimited by end-of-file (wanted `END')
Hello, World!

NameError: name 'END' is not defined

The str type has a method called join. The join method accepts a parameter that must be an iterable type. An iterable type in Python is any object that can return its elements one at a time, allowing it to be looped over in a for loop. Common examples of iterable types include lists, tuples, strings, sets, and dictionaries.

In [ ]:
# List of strings (an iterable)
words = ["apple", "banana", "cherry"]

# Using the join method with a separator
joined_string = ", ".join(words)

print(joined_string)  # Output: apple, banana, cherry

apple, banana, cherry

In [ ]:
words = ["Hello", "world", "this", "is", "Python"]
separator = " "
sentence = separator.join(words)
print(sentence)  # Output: Hello world this is Python

Hello world this is Python

In [ ]:
words = ["Hello", "world", "this", "is", "Python"]
words

['Hello', 'world', 'this', 'is', 'Python']

In [ ]:
"hap".join("py")

'phapy'

Here hap is used as separator and so p hap y

In [ ]:
type(("hap").join(("py")))

str

In [ ]:
# Tuple
words_tuple = ("apple", "banana", "cherry")
print(", ".join(words_tuple))  # Output: apple, banana, cherry

# String
word = "hello"
print("-".join(word))  # Output: h-e-l-l-o

# Set
words_set = {"apple", "banana", "cherry"}
print(", ".join(words_set))  # Output: banana, cherry, apple (order may vary)

# Dictionary (keys)
words_dict = {"a": "apple", "b": "banana", "c": "cherry"}
print(", ".join(words_dict))  # Output: a, b, c

# Dictionary (values)
print(", ".join(words_dict.values()))  # Output: apple, banana, cherry

# Dictionary (keys and values)
print(", ".join(f"{key}: {value}" for key, value in words_dict.items()))  # Output: a: apple, b: banana, c: cherry

apple, banana, cherry
h-e-l-l-o
banana, apple, cherry
a, b, c
apple, banana, cherry
a: apple, b: banana, c: cherry